body {
        background-image: url('../assets/img/background.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-family: 'Arial', sans-serif;
    }

.container {
        max-width: 1200px;
        background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con ligera transparencia */
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/*----------------------------------------
        title     
----------------------------------------*/
h1 {    
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 100px;
    color: #000000;
}
/*----------------------------------------
        subtitle
----------------------------------------*/
h3 {    
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}
/*----------------------------------------
        p
----------------------------------------*/
p {
        text-align: center;
        margin-bottom: 40px;
        color: #000000;
        background-color: #61616193; /* Color de fondo blanco para el contenido */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenido */
}
/*----------------------------------------
        form
----------------------------------------*/
form {
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px; /* Margen superior para separar del título y subtítulo */
    }

/*----------------------------------------
        animation expand title     
----------------------------------------*/
 .title {
	-webkit-animation: text-pop-up-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  